//
// GENERAL
//

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

//
// MODULE: SAMTOOLS INDEX
//
process {
    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
                path: { "${params.outdir}/alignments" },
                mode: params.publish_dir_mode,
                enabled: false
        ]
    }
}

//
// MODULE: GCPARAGON
//
if (!params.gc_corrected) {
    process {
        withName: 'GCPARAGON' {
            publishDir = [
                [
                    path: { "${params.outdir}/alignments" },
                    mode: params.publish_dir_mode,
                    pattern: '**/*.GCtagged.{bam}',
                    saveAs: { filename -> filename.tokenize('/')[-1] }
                ],
                    [
                    path: { "${params.outdir}/alignments" },
                    mode: params.publish_dir_mode,
                    pattern: '**/*.GCtagged.{bai}',
                    saveAs: { filename -> filename.tokenize('/')[-1] }
                ]
            ]
        }
    }
}

//
// MODULE: CREATE FEMS MATRIX
//
if (!params.skip_fems) {
    process {
        withName: 'CREATE_FEMS_MATRIX' {
            publishDir = [
                    path: { "${params.outdir}/features/ei" },
                    mode: params.publish_dir_mode,
                    pattern: '*.FEMS.df.{tsv}'
            ]
        }
    }
}

//
// MODULE: CREATE COVERAGE MATRIX
//
if (!params.skip_coverage) {
    process {
        withName: 'CREATE_COVERAGE_MATRIX' {
            publishDir = [
                    path: { "${params.outdir}/features/cov" },
                    mode: params.publish_dir_mode,
                    pattern: '*.1Mb_bins.{tsv}'
            ]
        }
    }
}
